h1,
h2,
h3,
h4,
h5 {
  color: $ink;
}

h1 {
  font-size: $h1;
  margin: 0;
  margin-bottom: $sp-xsm;
}

h2 {
  font-size: $h2;
  margin: 0;
  margin-bottom: $sp-xsm;
}

h3 {
  font-size: $h3;
  margin: 0;
  margin-bottom: $sp-xsm;
}

h4 {
  font-size: $h4;
  margin: 0;
  margin-bottom: $sp-xsm;
}

h5 {
  font-size: $h5;
  margin: 0;
  margin-bottom: $sp-xsm;
}
