// **
// General Colors variables
// **

// Main Colors
$clr-first: blue;
$clr-second: lightblue;
$clr-third: lightblue;

// UI Colors


// Grays
$gray-light: #ddd;
$gray:#aaa;
$gray-dark: #444;





