// **
// General Colors variables
// **

// Main Colors
$clr-first: blue;
$clr-second: lightblue;
$clr-third: lightblue;

// UI Colors
$ink: #181818;

// Grays
$gray-light: #ddd;
$gray:#aaa;
$gray-dark: #444;





