// **
// General Font size variables
// **

// Copy
$f-copy: 1rem;
$f-copy-sm: .8rem;
$f-copy-l: 1.2rem;

// Headings
$h1: 2.62rem;
$h2: 2.25rem; 
$h3: 2rem; 
$h4: 1.5rem; 
$h5: 1rem; 

// Font-weights
$light: 400;
$normal: 500;
$semi: 700;
$bold: 900;

